.input:focus + label:after {
  border-bottom-width: 0px !important;
}

.showButton:hover svg {
  transition: all 300ms ease-in-out;
  fill: #f2aa4c;
}

.input::-ms-reveal {
  display: none;
}

.input[type='password'] {
  -webkit-text-security: square;
  letter-spacing: 1.3px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: #f2aa4c;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.inputWrapper:focus-within {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.error {
  box-shadow: 0 0 5px rgba(248, 113, 113);
}